@import url(https://fonts.googleapis.com/css?family=Orbitron);
html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background: #87817a;
}

#container {
  background: #c2bdb7;
  min-width: 350px;
  min-height: 470px;
  width: 350px;
  height: 470px;
  border-radius: 20px;
  border: 2px solid #a49e98;
  box-shadow: 10px 10px 25px, -3px -10px 15px grey inset;
}
#container h1 {
  font: 18px Orbitron;
  text-align: center;
  padding-top: 10px;
}
#container #screen {
  margin: auto;
  width: 300px;
  height: 70px;
  background: #abbd8c;
  border-radius: 10px;
  border: 2px solid #97a67e;
}
#container #screen p {
  text-align: right;
  font-family: Orbitron;
  padding-right: 13px;
}
#container #screen #main {
  margin-top: 5px;
  font-size: 35px;
}
#container #screen #expression {
  margin-top: -38px;
  color: #97a67e;
}
#container #buttons {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 80px 80px 80px 80px;
  grid-template-columns: repeat(4, 80px);
  -ms-grid-rows: 60px 60px 60px 60px 60px;
  grid-auto-rows: 60px;
  margin: 20px 28px;
}
#container #buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Orbitron;
  border-radius: 7px;
  width: 55px;
  height: 45px;
  background: #2e2e2e;
  color: white;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px -16px 40px -20px grey inset, 0 4px black;
}
#container #buttons .button:active {
  margin-top: 5px;
  box-shadow: none;
}
#container #buttons .FR {
  -ms-grid-row: 1;
}
#container #buttons .SR {
  -ms-grid-row: 2;
}
#container #buttons .TR {
  -ms-grid-row: 3;
}
#container #buttons .FoR {
  -ms-grid-row: 4;
}
#container #buttons .FiR {
  -ms-grid-row: 5;
}
#container #buttons .FC {
  -ms-grid-column: 1;
}
#container #buttons .SC {
  -ms-grid-column: 2;
}
#container #buttons .TC {
  -ms-grid-column: 3;
}
#container #buttons .FoC {
  -ms-grid-column: 4;
}
#container #buttons .red {
  background: #911616;
}
#container #buttons .right {
  height: 105px;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
#container #buttons .bottom {
  width: 135px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row: 5;
  grid-row: 5;
}
