@import url(https://fonts.googleapis.com/css?family=Orbitron);

$light-brown: #87817A;
$light-gray: #C2BDB7;
$gray: #A49E98;
$black: #2e2e2e;
$green: #abbd8c;
$dark-green: #97a67e;
$red: #911616;

body {
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-brown;
}
.calc {
  background: $light-gray;
  width: 350px;
  height: 470px;
  border-radius: 20px;
  border: 2px solid $gray;
  box-shadow: 10px 10px 25px,
              -3px -10px 15px grey inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
  font: 18px Orbitron;
  text-align: center;
  padding-top: 10px;
  }
  &__buttons {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 80px 80px 80px 80px;
    grid-template-columns: repeat(4, 80px);
    -ms-grid-rows: 60px 60px 60px 60px 60px;
    grid-auto-rows: 60px;
    margin: 20px 28px;
  }
  &__button {
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Orbitron;
    border-radius:7px;
    width: 55px;
    height: 45px;
    background: $black;
    color:white;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px -16px 40px -20px grey inset,
    0 4px black;
    &:active {
      margin-top:5px;
      box-shadow: none;
    }
    &_FR {
      -ms-grid-row: 1;
    }
    &_SR {
      -ms-grid-row: 2;
    }
    &_TR {
      -ms-grid-row: 3;
    }
    &_FoR {
      -ms-grid-row: 4;
    }
    &_FiR {
      -ms-grid-row: 5;
    }
    &_FC {
      -ms-grid-column: 1;
    }
    &_SC {
      -ms-grid-column: 2;
    }
    &_TC {
      -ms-grid-column: 3;
    }
    &_FoC {
      -ms-grid-column: 4;
    }
    &_red {
      background: $red;
    }
    &_right {
      height: 105px;
      -ms-grid-column: 4;
      grid-column: 4;
      -ms-grid-row: 4;
      -ms-grid-row-span: 2;
      grid-row: span 2;
    }
    &_bottom {
      width: 135px;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: span 2;
      -ms-grid-row: 5;
      grid-row: 5;
    }
  }
}

.screen {
  width: 300px;
  background: $green;
  border-radius: 10px;
  border: 2px solid $dark-green;
  &__text {
    text-align: right;
    font-family: Orbitron;
    padding-right: 13px;
  }
  &__input-value {
    font-size: 35px;
  }
  &__expression {
    color: $dark-green;
  }
}
